body {
  background: #dcdcdc;
}

.jumbotron h1{
    font-weight: 500;
    color: #202020;
    text-shadow:  4px -4px 8px #9e9393;
}

.carousel-caption {
  color: #02244b;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section.custom-card {
  font-family: "Zen Old Mincho", serif;
}

.jumbotron {
  font-family: "Zen Old Mincho", serif;
}

.card {
  min-width: 30%;
  margin-top: 5px;
}

footer{
    color: #fff;
}

@media (max-width: 860px) {
  .card {
    min-width: 40%;
    margin-top: 5px;
  }
}
